.img-thumbnail{
    width: 240px;
    height: 200px;
    cursor: pointer;
}

.no-image{
    width: 240px;
    height: 200px;
    line-height: 200px;
    user-select: none;
    cursor: default;
}

.cap-text{
    /* white-space: nowrap;  */
    width: 100%;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.list-group-item{
    font-size: 115%;
    padding-top: 1rem;
}

.cap-text::before, 
.cap-text::after{
    content: "'";
}