.img{
    cursor: pointer;
}

.no-image{
    user-select: none;
    cursor: default;
}

.recent-text::before, 
.recent-text::after{
    content: "'";
}

.modal-dialog{
    width: 95vw;
}

@media (min-width: 768px) {
    .recent-text{
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .modal-dialog{
        width: 100vh;
    }
}