html,
body {
  height: 100%;
}

body {
  padding-top: 3.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-image{
  width: 240px;
  height: 200px;
  line-height: 200px;
  user-select: none;
}

.country-flag{
  height: 25px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .country-flag{
    height: 30px;
  }
}